name: Update Fork and Deploy

on:
  repository_dispatch:
    types: [main_updated]

jobs:
  update-and-deploy:
    runs-on: ubuntu-latest
    if: github.repository == 'MinaRoh/ci-cd-copied'
    steps:
      - uses: actions/checkout@v4
      - name: Sync fork
        run: |
          git remote add upstream https://github.com/subject-test-0/ci-cd.git
          git fetch upstream
          git checkout main
          git merge upstream/main
          git push origin main
